* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#image_header {
 vertical-align: middle;
}

#nav-bar {
    float: left;
    margin-right: 12px;
    height: 100%;
}

#text_over_header {
    left: 10px;
    position: relative;
    text-align: left;
    top: -70px;
}
{
    display: block;
}
body{
    font-family: sans-serif, fantasy;
    font-size: 18px;
    margin: 0 50px;
}

h1 {
    color: rgb(188, 22, 86);
    font-size: 40px 
}


h2 {
    color: hsl(217, 85%, 37%);
    font-size: 25px 
  }

h3{
    font-family: roundhand, cursive;
    font-size: 16px
    }


p {
    font-size: 18px
    text-align: justify;
    font-family: sans-serif, fantasy;
  
}

.main-text{
    text-align: center;
    
}
    
    #author-text {
        font-size: 22px;
     
}

.container {
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
}
